#footer{
    z-index: 99;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50%,50%));
    justify-content: center;
    min-height: 50px;
}

#left-pannel{
    border: none;
    display: flex;
    float: left;
    justify-content: space-around;
    margin: auto 2px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}

#right-panel{
    margin: auto 2px;
    text-align: center;
    color: white;
}

